#accounts-chart-accounts {
	// The primary accounts listing page.
	
	li.list-master {
		@include outer-container(20);
		@include pad(0);
		
		span.toggle {
			@include span-columns(1 of 20);
		}
		span.account-name {
			@include span-columns(11 of 20);
			@include pad(0);
		}

		span.account-actions {
			@include span-columns(5 of 20);
		}
		
		span.account-balance {
			@include span-columns(3 of 20);
			@include omega();
		}
	}
	
	li.list-container {
		margin-bottom: 0.5em;
		
		// Nested things!
		ul {
			li.list-master {
				span.account-name {
					@include pad(0 0 0 2em);
				}
			}

			li.list-container {
				li.list-child {
					// Child element 2-deep
					@include outer-container(20);

					span.account-name {
						@include pad(0 0 0 8em);
						@include span-columns(12 of 20);
					}

					span.account-actions {
						@include span-columns(5 of 20);
					}

					span.account-balance {
						@include span-columns(2 of 20);
						@include omega();
					}
				}
			}
		}

		li.list-child {
			// Child element 1-deep
			@include outer-container(20);

			span.account-name {
				@include pad(0 0 0 6em);
				@include span-columns(12 of 20);
			}

			span.account-actions {
				@include span-columns(5 of 20);
			}

			span.account-balance {
				@include span-columns(2 of 20);
				@include omega();
			}
		}
	}
	
	li.account-edit {
		// The edit view for accounts
		@include outer-container(20);
		
		span.account-edit-name {
			@include span-columns(17 of 20);
		}
		span.account-edit-actions {
			@include span-columns(3 of 20);
			@include omega();
		}
		span.account-edit-parent {
			@include span-columns(5 of 20);
		}
		span.account-edit-terms {
			@include span-columns(5 of 20);
		}
		span.account-edit-type {
			@include span-columns(10 of 20);
			@include omega();
		}
	}
}

#accounts-view-transactions {
	// A specific account, for the URL /accounts/view/#.
	
	ul{
		li.account-transaction {
			@include outer-container(50);

		    span {
			    display: inline-block;
			}

			span.account-transaction-edit {
				@include span-columns(1 of 50);
			}
			span.account-transaction-date {
				@include span-columns(4 of 50);
			}
			span.account-transaction-number {
				@include span-columns(7 of 50);
			}
			span.account-transaction-description {
				@include span-columns(12 of 50);
			}
			span.account-transaction-transfer {
				@include span-columns(12 of 50);
			}
			span.account-transaction-jump {
				@include span-columns(1 of 50);
			}
			span.account-transaction-split {
				@include span-columns(1 of 50);
			}
			span.account-transaction-reconcile {
				@include span-columns(1 of 50);

			}
			span.account-transaction-credit {
				@include span-columns(3 of 50);
			}
			span.account-transaction-debit {
				@include span-columns(3 of 50);
			    color: #bd0000;
			}
			span.account-transaction-balance {
				@include span-columns(5 of 50);
				@include omega();
			}

		  .text-center {
			  text-align: left;
		  }

		}
		
		li.split-transaction {
			ul {
				li.account-transaction {
					// Nested entry toggled from the split transaction view.
					@include outer-container(50);
					
					span.account-transaction-number {
						@include span-columns(12 of 50);
					}
					span.account-transaction-description {
						@include span-columns(12 of 50);
					}
					span.account-transaction-transfer {
						@include span-columns(12 of 50);
					}
					span.account-transaction-jump {
						@include span-columns(1 of 50);
					}
					span.account-transaction-split {
						@include span-columns(1 of 50);
					}
					span.account-transaction-reconcile {
						@include span-columns(1 of 50);
					}
					span.account-transaction-credit {
						@include span-columns(3 of 50);
					}
					span.account-transaction-debit {
						@include span-columns(3 of 50);
					}
					span.account-transaction-balance {
						@include span-columns(5 of 50);
						@include omega();
					}
				}
			}
		}
	}
}

/** Reconciliation form styles **/

.row-elements-alternating-colors {
  li:nth-child(odd){

  }
}

.reconcile-form .new span {
  max-width: 12em;
  display: inline-block;
}


.reconcile-form .new {
  padding: 1em;
}

/** Temporary Even and Odd row styles **/
.row-elements.row-elements-alternating-colors {

  li.account-reconcile-transaction {
	position: relative;
	padding: 0.2em 0 0 1.5em;
	border-bottom: 1px solid #aaa;
  }

  li:nth-child(odd) {
	background: #eee;
  }

  li:nth-child(even) {
	background: #fbfbfb;
  }
}

.reconcile-form .account-reconcile-transaction .checkbox.manual {
  float: left;
  display: inline-block;
  z-index: 999;
  left: 0.25em;
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0.25em;
}

li.account-reconcile-transaction {
  position: relative;
  padding: 0.2em 0 0 1.5em;
}

.account-reconcile-transaction span {
  min-width: 9%;
  display: inline-block;
}

span.account-reconcile-transaction-description {
  min-width: 50%;
}

span.account-reconcile-transaction-include {
  float: left;
}

.account-reconcile-transaction.new {
  span {
	max-width: 9em;
	display: inline-block;
  }

  span.account-reconcile-transaction-description {
	min-width: 19em;
  }

  span.account-reconcile-transaction-transfer {
	min-width: 15em;
  }

  span.account-reconcile-transaction-transfer {
	min-width: 2.5em;
	width: 2.5em;
  }
}

div#accounts-reconcile-status {
  position: fixed;
  right: 0.5em;
  top: 120px !important;
  z-index: 9999;

  input {
	width: 100%;
	display: inline-block;
	background: transparent;
	border: 0 none;
	box-shadow: none;
	font-weight: bold;
	padding: 0;
  }

}